* {
    margin: 0;
    padding: 0;
}

#body-team {
  background-image: url('image-team/bluebg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 }

 #centerdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.charapics {
  width: 70px;
  height: 100px;

}
 
 /*#blue {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;  If you want dots under the hoverable text 
}

#blue .bluecrystal {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

#blue:hover .bluecrystal {
  visibility: visible;}
*/
 .container {
    position: relative;
    bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

#bloc {
    display: flex;
    justify-content: space-around;
    margin: 140px;}

    .team-heading {
        text-align: center;
        margin-bottom: 10px;
    }
    

.character-holder { 
    width: 452px;
    height: 506px;
    background: #A7CEDF;
 flex-wrap: wrap;
 display: flex;
}

.team1-holder {
    width: 124px;
    height: 515px;
    background: #A7CEDF;
    display: flex;
    
}

.team2-holder {
    width: 124px;
    height: 515px;
    background: #A7CEDF;
}

.crystal1 {
width: 40px;
}

#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}


#right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

   h1 {
    text-align: center;
    padding-top: 50px;
    font-family: 'Grenze', serif;
    font-size: 50px;
    color: #0E1644;
   }


   .btn:hover {
    transition: 1000ms;
    /* padding: 10px 50px;  */
    transform: translateX(-0px);
    background-color: white;
    color: #374065;
    font-weight: bold;
    border: solid 2px rgb(255, 255, 255);

   }

   .btn {
    width: 170px; 
background: linear-gradient(180deg, #2B238C 9%, rgba(8.29, 5.24, 43.35, 0) 100%); 
border-radius: 13px; 
border: 1.50px #FBFBFF solid; 
color: white; 
height: 54px; 
font-size: 36px;
font-family: 'Grenze', serif;
font-weight: 500; 
word-wrap: break-word;
cursor: pointer;
margin-top: 20px;
   }




  #btn {
    display: flex;
    justify-content: space-between;
    margin: 40px;
  }

/* Keep your existing styles... */

.crystal-section {
    display: inline-flex; /* Use inline-flex to make sections side by side */
    flex-direction: row;
    width: 48%; /* Each section takes up about half of the line */
    margin: 10  px; /* Adjust the margin for spacing */
    justify-content: center;

  }
  
  .crystal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px; /* Adjust the margin to make the images closer */
  }
  
  /* Other existing styles... */
  
  .character-holder img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
  }