* {
  margin: 0;
  padding: 0;
}

img {
width: 100%;
}

#image {
  -webkit-animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.scale-in-center {
-webkit-animation: scale-in-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in {
-webkit-animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
        animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

@-webkit-keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
@keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

.fade-in2 {
-webkit-animation: fade-in2 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
        animation: fade-in2 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
}

@-webkit-keyframes fade-in2 {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
@keyframes fade-in2 {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}



#playercreation {
display: flex;
}


p{
  display: flex;
}


#startkey {
  -webkit-animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in2 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-duration: 1.5s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes fade-in2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




@keyframes clignoter {
 0%   { opacity:1; }
 40%   {opacity:0; }
 100% { opacity:1; }
} 


#body1 {
background-image: url('/clientmd/images/bluebg.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}

#inputchara {
width: 243px;
height: 56px; 
background-color: rgb(193, 192, 215);  
font-family: 'Grenze', serif;
font-size: 30px;
text-align: center;
}

h1 {
text-align: center;
padding-bottom: 50px;
padding-top: 50px;
font-family: 'Grenze', serif;
font-size: 50px;
color: #0E1644;
}

.classpics p {
border-radius: 71px 71px 71px 71px;
-webkit-border-radius: 71px 71px 71px 71px;
-moz-border-radius: 71px 71px 71px 71px;
border: 0.5px solid #8ba5ec;
background: #68b8f2;
background: linear-gradient(90deg,#68b8f2 0%, #d2dcf1 80%);
background: -webkit-linear-gradient(90deg,#68b8f2 0%, #d2dcf1 80%);
background: -moz-linear-gradient(90deg,#68b8f2 0%, #d2dcf1 80%);
cursor: pointer;
color: #374065;
font-family: 'Lobster Two', cursive;
font-size: 22px;
width: 117px;
height: 25px;
display: flex;
align-items: center;
justify-content: center;
padding: 7px
}


.classpics p:hover {
border-radius: 71px 71px 71px 71px;
-webkit-border-radius: 71px 71px 71px 71px;
-moz-border-radius: 71px 71px 71px 71px;
background: #a7d3f2;
background: linear-gradient(90deg,#a7d3f2 0%, #7aa0ef 80%);
background: -webkit-linear-gradient(90deg,#a7d3f2 0%, #7aa0ef 80%);
background: -moz-linear-gradient(90deg,#a7d3f2 0%, #7aa0ef 80%);
cursor: pointer;
font-family: 'Lobster Two', cursive;
font-size: 22px;
width: 117px;
height: 25px;
display: flex;
align-items: center;
justify-content: center;
padding: 7px;
transition: 1000ms;
padding: 7px 25px; 
transform: translateX(-0px);
background-color: white;
color: #374065;
border: solid 0.5px rgb(255, 255, 255);
}

.desc {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
}

.jobs
{
width: 97px;
cursor: pointer;
padding: 10px 45px 45px 50px;
}

.jobs2
{
width: 97px;
margin-bottom: 50px;
margin-left: 31px;
}

.jobdescription {
width: 240px; 
height: 33px; 
color: black; 
font-size: 25px; 
font-family: Kavivanar; 
font-weight: 400; 
margin-bottom: 60px;
margin-left: 23px;
text-align: center;
}

#characters {
width: 50%;
display: flex;
flex-wrap: wrap;
margin: 25px;
}

.classpics {
display: flex;
flex-direction: column;
align-items: center;}

#createbtn {
width: 170px; 
background: linear-gradient(180deg, #2B238C 9%, rgba(8.29, 5.24, 43.35, 0) 100%); 
border-radius: 13px; 
border: 1.50px #FBFBFF solid; 
color: white; 
height: 54px; 
font-size: 36px;
font-family: 'Grenze', serif;
font-weight: 500; 
word-wrap: break-word;
cursor: pointer;
margin-top: 20px;

}

#createbtn:hover {
transition: 1000ms;
/* padding: 10px 50px;  */
transform: translateX(-0px);
background-color: white;
color: #374065;
font-weight: bold;
border: solid 2px rgb(255, 255, 255);
}

#nextbtn:hover {
transition: 1000ms;
/* padding: 10px 50px;  */
transform: translateX(-0px);
background-color: white;
color: #374065;
font-weight: bold;
border: solid 2px rgb(255, 255, 255);
}

#nextbtn {
width: 170px; 
background: linear-gradient(180deg, #2B238C 9%, rgba(8.29, 5.24, 43.35, 0) 100%); 
border-radius: 13px; 
border: 1.50px #FBFBFF solid; 
color: white; 
height: 54px; 
font-size: 36px;
font-family: 'Grenze', serif;
font-weight: 500; 
word-wrap: break-word;
cursor: pointer;
margin-top: 20px;
}




#characreate {
margin-right: 144px;
width: 50%;
display: flex;
flex-wrap: wrap;
align-content: flex-end;
flex-direction: column;
justify-content: center;
align-items: center;
}